@using Pages.Auth
@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
			<Authorizing>
				<div class="vh-100 row m-0 text-center align-items-center justify-content-center">
					<div class="col-auto spinner-grow text-warning" role="status"></div>
					<p class="col-auto">Autorizando...</p>
				</div>
			</Authorizing>
			<NotAuthorized>
				<text>No estas autorizado para ver este contenido.</text>
				@{
					try
					{
						NavigationManager.NavigateTo("/", true);
					}
					catch
					{
						<NavLink href="/">
							Redirect to Login
						</NavLink>
					}
				}
			</NotAuthorized>
		</AuthorizeRouteView>
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<CascadingAuthenticationState>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<style>
					#fondo {
						font-family: 'Roboto', sans-serif;
						text-align: center;
						background-color: #ffffff;
						color: #333;
						padding: 50px;
					}

					.container {
						max-width: 800px;
						margin: 0 auto;
					}

					h1 {
						font-size: 120px;
						color: #e74c3c;
						margin: 0;
					}

					p {
						font-size: 24px;
					}

					.button {
						display: inline-block;
						padding: 10px 20px;
						font-size: 18px;
						color: #fff;
						background-color: #3498db;
						text-decoration: none;
						border-radius: 5px;
						margin-top: 20px;
					}

						.button:hover {
							background-color: #2980b9;
						}

				</style>
				<div id="fondo">
					<div class="container">
						<h1><b>404</b></h1>
						<p>La página que estás buscando no existe.</p>
						<a href="/" class="button">Volver a Inicio</a>
					</div>
				</div>
			</LayoutView>
		</CascadingAuthenticationState>
	</NotFound>
</Router>
