@inject EmpresasService Service

<EditForm Model="@empresa" OnValidSubmit="@OnValidSubmit">
    <div class="form-field mt-2 mb-2">
        <div class="form-group row p-2">
            <label class="col-form-label">CUIT</label>
            <div class="col">
                <div class="input-group">
                    <InputText @bind-Value="@empresa.CUIT" placeholder="CUIT de la Empresa" class="form-control" />
                </div>
                <ValidationMessage For="@(() => empresa.CUIT)" />
            </div>
        </div>

        <div class="form-group row p-2">
            <label class="col-form-label">Nombre</label>
            <div class="col">
                <div class="input-group">
                    <InputText @bind-Value="@empresa.Nombre" placeholder="Nombre de la Empresa" class="form-control" />
                </div>
                <ValidationMessage For="@(() => empresa.Nombre)" />
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-block btn-success">
            <i class="oi oi-check "></i>
            <text style="color:white"> @TextBotonSubmit</text>
        </button>
    </div>
    <DataAnnotationsValidator />
</EditForm>

@code {
    [Parameter] public EmpresaDTO empresa { get; set; } = new EmpresaDTO();
    [Parameter] public string TextBotonSubmit { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}