@page "/certificadoitemcontroles/{id:int}"
@using GOP.Client.Pages.Helpers
@inject NavigationManager NavigationManager
@inject CertificadoItemsService CertificadoItemsService
@inject IJSRuntime JS
@attribute [Authorize]


<div class="d-flex justify-content-between mb-1" id="header">
    @if (itemCertificado != null && itemCertificado.Certificado != null)
    {
        <h5>
            Certificado: @itemCertificado.Certificado.Periodo.Substring(0,2)/@itemCertificado.Certificado.Periodo.Substring(2) -
            Item: @itemCertificado.DescItem
        </h5>
    }
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i>
        </button>
    </div>
</div>


@if (controles == null)
{
  <LoadingSpinner></LoadingSpinner>
}
else if (controles.Count() == 0)
{
    <p>No se encontraron controles.</p>
}
else
{
    <table class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Controles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var control in controles)
            {
                <tr>
                    <td>
                        @control.DescControl
                        <br>
                        <b>@control.Estado</b>
                        <br>
                        <a class="btn btn-sm btn-outline-warning m-1" href="/certificadoitemcontrol/editar/@control.Id" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="oi oi-pencil"></i></a>
                        <a class="btn btn-sm btn-outline-primary m-1" href="/control/mediciones/@control.Id" data-toggle="tooltip" data-placement="bottom" title="Ver mediciones"><i class="oi oi-eye"></i></a>
                        <a class="btn btn-sm btn-outline-info m-1" href="/certificadoitemscontrolparams/@control.Id" data-toggle="tooltip" data-placement="bottom" title="Parametros">Parametros</a>
                        <a class="btn btn-sm btn-outline-success m-1" href="/certificadoitemcontroldocs/@control.Id" data-toggle="tooltip" data-placement="bottom" title="Documentos">Documentos</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="d-flex justify-content-between mb-1" id="footer">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            <li class="page-item"><button class="page-link" @onclick="() => Paginar(false)">Anterior</button></li>
            <li class="page-item"><button class="page-link">@pagina</button></li>
            <li class="page-item"><button class="page-link" @onclick="() => Paginar(true)">Siguiente</button></li>
        </ul>
    </nav>
    <div>
        @registros registros totales
    </div>
</div>


@code {
    public CertificadoItemDTO itemCertificado = new CertificadoItemDTO();

    [Parameter] public int id { get; set; }

    public IEnumerable<CertificadoItemControlDTO> controles { get; set; }
    public IEnumerable<CertificadoItemControlDTO> controlesPag { get; set; }

    public int pagina { get; set; } = 1;

    public int registros { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("levantaTooltips");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetItemCertificado();
        await GetControles();
        await Paginar(false);
    }

    private async Task GetItemCertificado()
    {
        itemCertificado = await CertificadoItemsService.Get(id);
    }

    private async Task GetControles()
    {
        controles = itemCertificado.CertificadoItemControls;
        controlesPag = controles;
    }

    async Task Paginar(bool next)
    {
        controles = controlesPag;
        int cantidadPorPagina = 10;
        registros = controles.Count();
        decimal total;

        if (registros < cantidadPorPagina)
            total = pagina;
        else
        {
            if (registros % cantidadPorPagina == 0)
                total = registros / cantidadPorPagina;
            else
                total = (registros / cantidadPorPagina) + 1;
        }

        if (!next && pagina > 1) pagina--;

        if (next && pagina < total) pagina++;

        controles = controles.Skip((pagina - 1) * cantidadPorPagina).Take(cantidadPorPagina);
    }

    private void Volver()
    {
        NavigationManager.NavigateTo($"/certificadoitems/{itemCertificado.CertificadoId}");
    }
}