@page "/itemscontrolparams/{id:int}"
@inject NavigationManager NavigationManager
@inject ItemsControlParamsService Service
@inject ItemControlesService ItemControlesService
@inject IJSRuntime JS
@attribute [Authorize]

<div class="d-flex justify-content-between mb-1" id="header">
    @if (itemControl.Item != null)
    {
        <h5> Item: @itemControl.Item.DescItem</h5>
    }
    @if (itemControl != null)
    {
        <h4> Parametros de: @itemControl.DescControl</h4>
    }
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Atrás
        </button>
        <a href="itemscontrolparams/crear/@itemControl.Id" class="btn btn-sm btn-success">
            <i class="oi oi-plus"></i>
        </a>
    </div>
</div>


@if (itemControl.Parametros == null)
{
    <div class="vh-100 row m-0 text-center align-items-center justify-content-center">
        <div class="spinner-grow" role="status"></div>
    </div>
}
else if (itemControl.Parametros.Count() == 0)
{
    <p>No se encontraron parametros.</p>
}
else
{
    <table class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Parametro</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Valor Mínimo</th>
                <th>Valor Máximo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var control in controlesParams)
            {
                <tr>
                    <td>@control.Parametro</td>
                    <td>
                        @control.Descripción - 
                        @if (control.Unidad != null)
                        {
                            @control.Unidad.CodUnidad
                        }
                    </td>
                    <td>@control.TipoParam</td>
                    <td>@control.ValorMinimo</td>
                    <td>@control.ValorMaximo</td>
                    <td>
                        <a class="btn btn-sm btn-outline-warning m-1" href="itemscontrolparams/editar/@control.Id" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="oi oi-pencil"></i></a>
                        <button @onclick="@(() => BorrarControl(control.Id))" class="btn btn-sm btn-outline-danger m-1" data-toggle="tooltip" data-placement="bottom" title="Borrar">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="d-flex justify-content-between mb-1" id="footer">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            <li class="page-item"><button class="page-link" @onclick="() => Paginar(false)">Anterior</button></li>
            <li class="page-item"><button class="page-link">@pagina</button></li>
            <li class="page-item"><button class="page-link" @onclick="() => Paginar(true)">Siguiente</button></li>
        </ul>
    </nav>
    <div>
        @registros registros totales
    </div>
</div>


@code {
    public ItemControlDTO itemControl = new ItemControlDTO();

    [Parameter] public int id { get; set; }

    public IEnumerable<ItemControlParamDTO> controlesParams { get; set; }
    public IEnumerable<ItemControlParamDTO> controlesParamsPag { get; set; }

    public int pagina { get; set; } = 1;

    public int registros { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("levantaTooltips");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetItemControl();
        await Paginar(false);
    }

    private async Task BorrarControl(int id)
    {
        var item = await Service.Get(id);

        var confirmacion = await JS.InvokeAsync<bool>("confirmar", "Eliminar",
            $"¿Desea eliminar parametro {item.Descripción}?", "warning");
        if (confirmacion)
        {
            var respuesta = await Service.Baja(id);

            if (respuesta.IsSuccessStatusCode)
            {
                await JS.InvokeVoidAsync("simple", "¡Éxito!", "Parametro eliminado", "success");
                await GetItemControl();
                await Paginar(false);
            }
            else
            {
                await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo eliminar parametro", "error");
            }
        }
    }

    private async Task GetItemControl()
    {
        itemControl = await ItemControlesService.Get(id);

        controlesParams = itemControl.Parametros;
        controlesParamsPag = controlesParams;
    }

    async Task Paginar(bool next)
    {
        controlesParams = controlesParamsPag;
        int cantidadPorPagina = 10;
        registros = controlesParams.Count();
        decimal total;

        if (registros < cantidadPorPagina)
            total = pagina;
        else
        {
            if (registros % cantidadPorPagina == 0)
                total = registros / cantidadPorPagina;
            else
                total = (registros / cantidadPorPagina) + 1;
        }

        if (!next && pagina > 1) pagina--;

        if (next && pagina < total) pagina++;

        controlesParams = controlesParams.Skip((pagina - 1) * cantidadPorPagina).Take(cantidadPorPagina);
    }

    private void Volver()
    {
        NavigationManager.NavigateTo($"/itemscontroles/{itemControl.ItemId}");
    }
}